body {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    
}

.logo {
    float: left;
    width: 200px;
    height: auto;
    padding: 5px;
}

.menu_bar {
    background-color: rgba(22, 19, 19, 0.945);
    height: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
}

.logo span {
    color: blue;
}

.menu_bar ul {
    list-style: none;
    display: flex;
}

.menu_bar ul li {
    padding: 10px 17.5px;
    position: relative;
}

.menu_bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;

    transition: all 0.3s;
}



.menu_bar ul li a:hover {
    color: blue;
}


/* write by Me ( Sothy Rith ) line 64 -> 69 */
#style a:hover {
    color: black;
    background-color: white;
}
/* write by Me ( Sothy Rith ) line 64 -> 69 */


.dropdown_menu {
    display: none;
}

.menu_bar ul li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgba(22, 19, 19, 0.945);

}

.dropdown_menu ul {
    display: block;
    margin: 18.5px;
}

.dropdown_menu ul li {
    width: 215px;
    padding: 1px;
}

.home {
    border: 2px white solid;
    border-radius: 20px;
    padding: 7px;
}


/* End style Header */


.content {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;

    /* font-size: 20px; */
    margin: 30px;

    /* border: 2px black solid; */
    
    /* height: 1100px; */
    height: auto;

    padding-left: 100px;
    padding-right: 100px;
}

.color {
    color: chocolate;
    /* text-decoration: none; */
}


.pic {
    width: 300px;
    float: right;
}

.h2-content {
    color: chocolate;
    font-family:'Segoe UI';
    letter-spacing: 1px;

    padding-top: 10px;
    padding-bottom: 10px;

}

.p-content {
    font-family:'Segoe UI';
    font-size: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
}

/* #Kokoro {
    display: flex;
    flex-direction: row;
} */

/*
#p-content {
    color: rgba(0, 0, 0, 0.59);
    font-size: 23px;
    margin: 20px;

    padding-left: 10px;
    padding-right: 10px;

} */

/* .color-link {
    color: chocolate;
    //  text-decoration: none;
} */


/* .content {
    display: flex;
    line-height: 10px;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;
    
    letter-spacing: 1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    // padding-right: 600px;  
} */

/* .h1 {
    // padding-right: 43px; 
    color: #e67e22;
     
}*/

/* #color {
    background-color: white;
    height: 270px;
} */

/* End style content */


/* End style Social Media link */

.footer {
    display: flex;
    background-color: rgba(22, 19, 19, 0.945);
    height: 370px;
    color: white;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* // padding-bottom: 180px;  */
}

#p {
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
}

.information {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    
    padding-left: 30%;

}

#p-infor {
    font-size: 20px;
    line-height:30px;
    color: gray;
}

/* Body */
.content_body .body_part1 p {
    font-size: 30px;
}

.body_part1 h1 {
    color: rgb(193, 23, 57);
    font-size: 40px;
}

.body_part1 h3 {
    font-size: 30px;
}

.content_body {
    display: flex;
    padding: 50px 0px;
    justify-content: space-around;
    /* position: relative; */
    width: auto;
    /* width: 1300px; */
    /* align-items: center; */
    margin: 70px 200px;
}

image {
    height: 300px;
    width: 300px;
}

.body_part1 {
    padding: 0px 100px;
}

/* ICon */
.social-media {
    display: flex;
    background-color: gray;
    height: 120px;

    justify-content: space-evenly;
    align-items: center;
}

.menuIcon {
    display: inline-flex;
    list-style: none;
}

.menuIcon .item {
    position: relative;
    background: rgb(236, 209, 209);
    border-radius: 50%;
    padding: 15px;
    width: 35px;
    height: 35px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    box-shadow: 1px 1px 5px 0px #999;
    cursor: pointer;
    transition: all .5s ease;
}

.menuIcon .menuIcon .item,
.facebook:hover {
    background-color: rgb(73, 73, 227);
}

.item.item .Icon {
    height: 25px;
    width: 25px;
}

.menuIcon .menuIcon .item,
.Youtube:hover {
    background-color: red;
}

.menuIcon .menuIcon .item,
.Instagram:hover {
    background-color: rgb(211, 129, 36);
}

.menuIcon .menuIcon .item,
.Twitter:hover {
    background: white;
    /* background-color: rgb(192, 215, 255); */

}

.menuIcon .tooltip {
    position: absolute;
    color: black;
    font-weight: bold;
    top: 0px;
    opacity: 0;
    font-size: 14px;
    padding: 5px 8px;
    box-shadow: 0px 0px 5px 0px #333;
    transition: all .50s ease;
}

.menuIcon .tooltip::before {
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    bottom: -3px;
    left: 50px;
    transform: translate(-50%) rotate(45deg);
    transition: all 1s ease;
}

.menuIcon .item:hover .tooltip {
    top: -45px;
    opacity: 1;

}

.tooltip-fb,
.tooltip-fb::before {

    background-color: rgb(43, 147, 207);
}

.tooltip-yt,
.tooltip-yt::before {
    background-color: red;
}

.tooltip-ig,
.tooltip-ig::before {
    background-color: rgb(221, 123, 26);
}

.tooltip-tw,
.tooltip-tw::before {
    background-color: rgb(73, 232, 147);
}
