* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    /* background-image: url("/images/a.webp"); */
    background-color: grey;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {

    width: 100%;
    background-color: rgb(110, 68, 13);
    height: 300px;
    line-height: 75px;
    padding: 0px 20px;
    padding-top: 20px;
    background-image: url('images/a.jpg');
}

/* nav h1 {
    font-size: 32px;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
    float: left;
} */

nav .logo img {
    float: left;
    width: 200px;
    height: auto;
    padding: 10px;
}

nav ul {
    padding-top: 40px;
    float: right;
}

nav ul li {

    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {

    text-decoration: none;
    font-family: sans-serif;
    color: rgb(255, 0, 0);
    font-size: 20px;
    padding: 0px 16px;
    display: block;
}

nav ul li ul {
    position: absolute;
    display: none;
    background-color: rosybrown;
    border-top: none;
    /* border-radius: 0px 0px 5px 5px; */
}

nav ul li ul li .d {
    font-size: 12px;
    color: white;
}

nav ul li ul li .d:hover {
    color: greenyellow;
}

nav ul li:hover ul {
    display: block;
}

nav ul li a:hover {
    background-color: rosybrown;
    color: aqua;
    flex-direction: row;
}

nav ul li ul li {
    line-height: 1;
    width: auto;
    border-radius: 5px;
    padding: 6px;
}

nav ul li ul li a {
    padding: 10px 15px;
}

nav ul li .btn {
    /* padding-left: 15px; */
    border: 3px solid;
    border-color: white;
    background-color: transparent;
    border-radius: 0px 50px;
    transition: 0.6s ease;

}

nav ul .bt {
    padding-left: 50px;
}

nav ul li ul li a:hover {
    background-color: black cover;
}